# Application
APP_NAME=fastapi-todolist
APP_ENV=development
DEBUG=true

# Database
POSTGRES_USER=todolist
POSTGRES_PASSWORD=todolist
POSTGRES_DB=todolist
# Use 'localhost' for running app/alembic on host machine
# Compose will override to 'postgres' (service name) when running in container
POSTGRES_HOST=localhost
POSTGRES_PORT=5436

# JWT
JWT_SECRET_KEY=change-me-use-openssl-rand-hex-32
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=60